.custom-profile-class {
  display: flex;
  flex-direction: row-reverse !important;
  font-family: Roboto;
  font-size: 17px !important;
  font-style: normal;
  font-weight: 400;
  background: none;
  width: 250px;
  justify-content: space-evenly;
}
.profile-dropdown{
  display: none;
  position: absolute;
  top: 115px;
  right: -10px;
  border-radius: 20px;
background: rgba(255, 255, 255, 0.80);
box-shadow: 0px 25px 50px 0px rgba(22, 25, 79, 0.15);
z-index: 5;
}
.show{
  display: block;
}
.profile-dropdown li{
  color: #000;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 25.5px */
margin: 20px 80px 20px 30px;
}